.edit-user {
    background-color: var(--primary-bg);
    padding: 1rem;
}

form > * {
    text-align: left;
}

.formbgr {
    background-color: var(--primary-bg);
    border-radius: 3px;
    margin-bottom: 1em;
}

.button-right {
    margin: 1em 0 1em 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
} 

.formbgr > div > div, .formBgr > div > div {
    padding-top: 0 !important;
    margin-top: 0;
}

.editUserButton {
    width: 100%;
}

.ratingImageInner {
    position: relative
}

.ratingImageInner img {
    position: absolute;
}