.todo-input {
  padding: 0.1rem 0.3rem;
  display: block;
  margin: 15px 0;
}

.complete,
.cross,
.back {
  margin: 0rem 0.5rem;
  float: right;
  cursor: pointer;
}

.hide {
  display: none;
}

.todo-list-button {
  width: 30%;
}

.todo-list-input {
  width: 100%;
  margin-right: 2.4rem;
}
