body{
  background-color: var(--primary-bg);
}

.shopname-container{
  padding: 0 0 0 1rem;
}

.container{
  color: var(--primary);
  background-color: var(--secondary-bg);
  width: calc(100vw - 1rem);
  margin: .5rem;
}

.name-container h1{
  text-align: center;
  background-color: var(--secondary-bg);
  border-bottom: 1px solid var(--form-bg);
}

.bio-container h3{
  text-align: center;
  background-color: var(--secondary-bg);
  border-top: 1px solid var(--form-bg);
}

.image-links-container{
  position: relative;
  padding: 1rem 1rem 0 1rem;
}

.image-container{
  display: inline-block;
  width:30vw;
  height:30vw;
  border-radius: 50%;
  overflow: hidden;
}

.links-container{
  display: inline-block;
  width: calc(70vw - 1rem);
  margin: 0 auto;
  padding-left: .5rem;
  font-size: 3.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.links-container a {
  color: var(--primary);
  margin: 0 .5rem;
}

.links-container a:hover {
  color: var(--secondary);
}

