@media only screen and (min-width: 800px) {
  div > button {
    margin-top: 0 !important;
  }
}

.paper {
  margin: .5rem 0;
  padding: 0 .5rem
}

.highlight {
  background-color:#54b9b6;
  margin: .5rem 0;
  padding: 0 .5rem;
}

