@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@font-face { 
  font-family: "charmelade"; 
  src: url("/fonts/charmelade.otf"); 
  }

:root {
  /* BG Colors */
  --primary-bg: #fff;
  --secondary-bg: #54b9b6;
  --ternary-bg: #282627;
  /* Text Colors */
  --primary: #262627;
  --secondary: #181818;
  /* Text Sizes*/
  --text: 1rem;
  /* Link color */
  --light: #fff;
  --dark: #54b9b6;
  /* Border */
  --border: 3px solid black;
  /* Padings*/
  --global-padding: 2rem 1rem;
  --text-padding: 0 1rem;
  --padding-top: 1rem;
  /* Special */
  --form-background: #e6e6e6;
}



/* Basic Setup*/

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.main {
  width: calc(100vw - 2rem);
  margin: 1rem 0;
  padding: var(--text-padding);
  background-color: var(--primary-bg);
}

.main button {
  margin: 1rem 0.5rem 0 0.5rem;
}

img {
  padding-top: var(--padding-top);
  width: 100%;
  height: auto;
}

p {
  text-align: justify;
  padding: var(--text-padding);
  font-size: var(--text);
}

h1 {

}

a {
  color: var(--light);
  text-decoration: none;
  
}
a:hover{
  color: var(--dark);
}

.text{
  border: var(--border);
}

button[class^="MuiButtonBase"] {
    padding:'0'
  }