.navbar {
 
}

.navbar header {
  background-color: var(--secondary-bg);
  color: var(--primary);
  padding: .5rem 0 .8rem;
}

ul li a {
  color: var(--primary);
}

ul li a:hover {
  color: var(--secondary-bg);
}

.avatarImg img {
  padding-top: 0;
  width: 26px;
  height: 26px;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2rem;
}