@font-face { 
    font-family: "charmelade"; 
    src: url("../../fonts/charmelade.otf"); 
}

.landing > img {
    margin: 0;
    padding: 0;
}

.landing {
    padding: 0;
    margin: 0;
}

.primary {
    position:relative;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-bg);
    z-index: 0;
    
}

.primary > img {
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 0;
    position:relative;
}

/* .clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}  */

.deliverit_slogan {
    font-size: 1.8em;
    background-color: transparent;
    font-family: charmelade, sans-serif;
    color: white;
    padding: 5em 1em 0 1em;
    text-align: left;
    z-index: 10;
    position:relative;
    background-image: url(../../pictures/landing_lrg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--secondary-bg);
    background-position: center;
}

.slogantext {
    z-index: 11;
}

.chooserole {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 3em 0 0 0;
    position: relative;
    bottom: 1em;
}

.order, .delivery {
    border: 0px solid white;
    background-color: rgba(84, 185, 182, 0.7) ;
    height: 3em;
    margin: .5em 0;
    border-radius: 2px;
    padding: .5rem;
}

.secondary {
    font-family: charmelade, sans-serif;
    color: black;
    padding: 1em 1em 0 1em;
    text-align: left;
    font-size: 1.8em;
}